.container
  .row
    .col-md-3.col-sm-3
      %p.lead Contacts
      %ul
      - @contacts.each do |user|
        %li= link_to user.name, staff_path(user), remote: true
    .col-md-9.col-sm-9
      #contact
        - if current_user.account.present?
          = link_to "Send Message", "#invite-credit-modal", {"role" => "button", "data-toggle" => "modal", class: "btn btn-default btn-primary btn-large"}
- if current_user.account.present?
  #invite-credit-modal.modal.fade{"role" => "dialog", "aria-hidden" => "true"}
    #message_form{style: "margin:20px"}
      .modal-dialog
        .modal-content
          .modal-header
          .modal-body
            = render :partial=>"conversations/form", :locals=>{:new_conversation => Conversation.new}
