.payment_profiles_new
  .white_box
    %h1 New Payment Profile
    .alert.alert-info.alert-block
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      Please enter accurate billing details. You will not be charged at this time.
    = render "form"