.container
  = simple_form_for @estimate, url: estimate_path(@estimate), method: :put do |f|
    %legend Edit the estimate below
    = render 'form', f: f
    = f.submit "Update Draft", class: "btn btn-default"
    = f.submit "Send Estimate", class: "btn btn-default"