.row
  .span10
    = simple_form_for @invoice, url: invoice_path(@invoice.id), method: :put do |f|
      = render 'form', f: f
      .span3= f.submit "Update Draft", class: "btn btn-large btn-success"
      .span3= f.submit "Send Invoice", class: "btn btn-large btn-success"
