if ($('#dashboard_tasks').length > 0) {
    $('#dashboard_tasks').prepend("<li><%= @task.title %></li>");
    $('#new_task').each(function() {
        this.reset();
    });
}
if ($("#tasks-to-do").length > 0) {
    $('#tasks-to-do').prepend("<%= j render(@task) %>");
    $('#new_task').each(function() {
        this.reset();
    });
}