.container
  .row
    .span2
      = render 'advertisers/shared/sidebar_nav'
    .span10
      %h3 Current Active Campaigns
      - if @campaigns.any?
        .campaigns
          - @campaigns.each do |c|
            = render 'advertisers/shared/campaign', c: c
          %li.span2
            .thumbnail.pagination-centered{style: "height:150px"}
              %h4 Start a New Campaign
              %p= link_to "Start", new_advertisers_campaign_path, class: "btn btn-primary"
      - else
        .heroku-unit
          %h4 You current have no active campaigns
          = link_to "Start a Campaign", new_advertisers_campaign_path, class: "btn btn-primary"