.container
	.row
		.col-md-2
			= render "conversations/left_nav"
		#inbox.col-md-9{style: "border-left:1px solid #DDDDDD;padding-left:5px"}
			%table.table.table-striped
				%caption
					%p.lead Drafts
				%tr
					%th Recipient
					%th Subject-Message
					%th Sent at?
				- if @conversations.any?
					- @conversations.each do |conversation_item|
						= render partial: "conversations/single_conversation", locals: {single_conversation: conversation_item}
				- else
					%tr
						%td
						%td Box empty
						%td
