.container
	.row
		.col-md-2
			= render "conversations/left_nav"
		#inbox.col-md-9{style: "border-left:1px solid #DDDDDD;padding-left:5px"}
			%table.table.table-striped
				%caption
					%p.lead Inbox
				%tr
					%th Recipient:
					%th Subject-Message
					%th Sent at:
				- if @conversations.any?
					- @conversations.each do |conversation|
						- single_conversation_item = conversation.conversation_items.where("sender_id != ? and draft = false",current_user.id).order('created_at desc').first
						= render partial: "conversations/single_conversation", locals: {single_conversation: conversation.conversation_items.where("sender_id != ? and draft = false",current_user.id).order('created_at desc').first} if single_conversation_item.present?
				- else
					%td
						%td
						%td Box empty
						%td

