.container
  .row
    .col-md-2
      = render "conversations/left_nav"
    .col-md-9{style: "border-left:1px solid #DDDDDD;padding-left:5px"}
      = render partial: "conversations/form", locals: {new_conversation: @conversation}
