.conversations_new
  .white_box
    .row
      .span2
        = render "conversations/left_nav"
      .span9{style: "border-left:1px solid #DDDDDD;padding-left:5px"}
        = render :partial=>"conversations/form", :locals=>{:new_conversation => @conversation}
