<div class="video_chat_new">
	<div class="white_box">
		<h1>Interview request with <%= @recipient.resume.name %></h1>

		<%= render 'form' %>

		<%= link_to 'Back', video_chats_path %>

	</div>
</div>