.question.fields_for_set
  %fieldset
    = f.input :text, label: "Question Text", input_html: {class: "input_xxlarge"}, wrapper_html: {class: "input-append"}
    = f.hidden_field :_destroy
    %span.add-on.remove
      = link_to "Remove Question", '#', class: "remove_fields btn btn-mini btn-danger", style: "margin-left:15px;margin-top:15px"
