.jobs_index{ style: "padding: 20px 0;"}

  %h1 Jobs

  = render "search_form"

  %table.table
    %tr
      %th Position
      %th Company
    - @jobs.each do |job|
      %tr
        %td
          - if job.title.present?
            = link_to job.title, job
        %td
          - if job.account && job.account.name
            = link_to job.account.name, job.account

  %br/

