.jobs_index
  .white_box
    %h1 Jobs

    - unless @portal
      = render "jobs/search_form"

    %table.table
      %tr
        %th Position
        %th Company
        %th Applicants
      - @jobs.each do |job|
        %tr
          %td
            - if job.title.present?
              = link_to job.title, job
          %td
            - if job.account && job.account.name
              = link_to job.account.name, slug_path(job.account.slug)
          %td= job.job_applications_count
    %br/

