.jobs_index
  .white_box
    %h1 Jobs

    - unless @portal
      = render "jobs/search_form"

    %table.table
      %tr
        %th Position
        %th Company
        %th Posted
      - @jobs.each do |job|
        %tr
          %td
            - if job.title.present?
              = link_to job.title, job
          %td
            - if job.account && job.account.name
              = job.account.name
          %td= job.created_at.strftime("%m/%d/%Y")
    %br/

