.jobs_index{ style: "padding: 20px 0;"}

  %h1 Jobs

  = render "search_form"

  %table.table
    %tr
      %th Position
      %th Company
    - @jobs.each do |job|
      %tr
        %td
          = link_to job.title, job
        %td
          = job.about_company.truncate(100)

  %br/

