.jobs_index
  .white_box
    %h1 My Jobs
    %table.table
      %tr
        %th Position
        %th Applicants
        %th Date Posted
      - @jobs.each do |job|
        %tr
          %td
            - if job.title.present?
              = link_to job.title, job
          %td
            = link_to pluralize(job.job_applications.count, "Applicant"), [job, :job_applications]
          %td= job.created_at.strftime("%m/%d/%Y")

    %br/

