.white_box
	%h2 Post Your Job
	.alert.alert-success.alert-block
		WorkCheetah is the standard job search engine alternative. It is free to advertise available positions on our website. Using WorkCheetah software helps you:
		%ul 
			%li Manage your applicants
			%li Compare qualified talent
			%li Conduct interviews online
		These features are innovative, effective, and free. Please do not abuse our system and cause limitations for everyone. Thank you for using WorkCheetah and good luck finding your next employee!
	%br/ 
	= render 'form'