.white_box
	%h2 Post Your Job
	.alert.alert-success
		WorkCheetah is actively working to get people back to work. It is free to advertise your positions on our site. Please DO NOT abuse this, or it may cause prohibitions for everyone. Thank you for using WorkCheetah and good luck finding your next employee!
	%br/ 
	= render 'form'