.job_applicants_create_payment_profile
  .white_box
    %h1 Let's Start By Entering Your Billing Info
    %p It looks like you don't have a payment profile setup yet so let's start by setting that up for you.
    = render "payment_profiles/form"