.container
  .row
    .span10
      %h3 Edit Advertising Account
    .span5
      .accounts_edit
        = simple_form_for @account, url: advertisers_account_path(@account) do |f|
          = render "form", f: f
          = f.submit class: "btn"
    .span5
      %p Workcheetah for security reasons does not keep credit card information. We use a secure third party to handle all transactions. If you need to update or change your credit, all you need to do is enter a new credit card. The one will be deleted.
      = link_to "Update Billing Info", new_advertisers_payment_profile_path, class: "btn btn-primary"