.container
  .col-md-2.ads
    .well
      %h2 Jobs Available in Finance!
      = link_to(image_tag('ad1img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Free ipad and a nice chair! Plus money!
      = link_to(image_tag('ad2img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Jobs Available in Medicine!
      = link_to(image_tag('ad3img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
  .col-md-8 
    .row   
      .col-md-6.col-sm-6.main
        .well
          %h1 Activity Feed
          %ul
            %li
              %a{:href => "#"} Steve Jones
              has applied for "Sr. Graph..."
            %li
              %a{:href => "#"} Steve Jones
              has applied for "Graphic Design..."
            %li
              %a{:href => "#"} Steve Jones
              has applied for "App Designer..."
            %li
              %a{:href => "#"} Steve Jones
              has applied for "Web Developer..."
            %li
              %a{:href => "#"} Steve Jones
              has applied for "Graphic II..."
          .buttonholds
            %a.btn.btn-viewall{ :href => "#"} View All
      .col-md-6.col-sm-6.main
        .well
          %h1 To Do List
          %a.datefloat{:href => "#"} << April 14, 2014 >>
          %form{:role => "form"}
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with GloboCorp Enter...
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with Client #1
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with Client #2
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with Client #3
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with Client #4
            .checkbox
              %label
                %input{:type => "checkbox"}
                  Follow up with Client #5
          .buttonholds
            %a.btn.btn-viewall{ :href => "#"} + Add an Item
    .row 
      .col-md-12
        = link_to(image_tag('widead.png'), "#", :class => 'adimg')
    .row 
      .col-md-6.col-sm-6.main
        .well
          %h1 Calendar
      .col-md-6.col-sm-6.main
        .well
          %h1 Calculator
    .row 
      .col-md-12.main
        .well
          %h1 Resources from Blog
  .col-md-2.ads
    .well
      %h2 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Design! Make money and pretty things
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Recruiter/ Scheduling Coordinator
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
      %h3 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Design! Make money and pretty things!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com