.container
  .col-md-2.ads
    .well
      %h2 Jobs Available in Finance!
      = link_to(image_tag('ad1img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Free ipad and a nice chair! Plus money!
      = link_to(image_tag('ad2img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Jobs Available in Medicine!
      = link_to(image_tag('ad3img.png'), "#", :class => 'adimg')
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
  .col-md-8 
    .row   
      .col-md-8.col-sm-8.companyinfo
        .well
          %h1 WidgetCorp, Inc.
          %h2 Company
          %ul
            %li
              %h3 Location:
              Round Rock, TX
            %li
              %h3 Breif Description:
              Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.
          .buttonholds
            %a.btn.btn-viewall{ :href => "#"} Invite
      .col-md-4.col-sm-4.companyinfo
        .well
          = link_to(image_tag('wImg.png'), "#", :class => 'adimg') 
          .simplelink 
            %a{ :href => "#"} What's This?
    .row 
      .col-md-12.companydetails
        .well
          %a.btn.btn-viewall{ :href => "#"} Edit Profile
          %h1 Services
          This is a description of services. This is a description of services.  This is a description of services.  This is a description of services. This is a description of services. This is a description of services. 
          %h4 Project History
          This is a description of services. This is a description of services.  This is a description of services.  This is a description of services. This is a description of services. This is a description of services. 
          %h4 Referrers
          .row
            .col-md-6.col-sm-6
              %h2 Confirmed
              %ul
                %li
                  %h3 Name:
                  Stavros Glaros
                %li
                  %h3 How I Know this Business:
                  Here is a brief sentence to tke up space.
                %li
                  %h3 Feedback:
                  Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.
            .col-md-6.col-sm-6
              %h2 Confirmed
              %ul
                %li
                  %h3 Name:
                  Fulgenicio Joseph Prichett
                %li
                  %h3 How I Know this Business:
                  Here is a brief sentence to tke up space.
                %li
                  %h3 Feedback:
                  Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.Here is a brief description. Here is a brief description. Here is a brief description. Here is a brief description.
  .col-md-2.ads
    .well
      %h2 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.financejobs.com
      %h3 Design! Make money and pretty things
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Recruiter/ Scheduling Coordinator
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com
      %h3 A Banking Career Can Be Yours!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.apple.com/jobs
      %h3 Design! Make money and pretty things!
      %p Text for this advertisement. Text, for this advertisement. This is Text!!!
      %a{ :href => "#" } www.docjobs.com