-# coding: UTF-8

.footer
  .pull-right
    Copyright 2013 - Workcheetah.com, Inc. © All Rights Reserved.
  = link_to "Home", root_path
  = link_to "Career Stuff 101", "/articles"
  = link_to "Report Scam", [:new, :scam_report]
  = link_to "Contact", "/contact"