.footer{ style: "margin-top: 10px; border-top: 1px solid #ccc; padding-top: 10px;"}
  .pull-right
    Copyright 2013 - Work Cheetah All Rights Reserved.
  = link_to "Home", root_path
  = link_to "About", "/about"
  = link_to "Resource Center", "/articles"
  = link_to "Contact", "/contact"