- if current_user.account.has_payment_profile?
  %a.btn.btn-viewall{"data-target" => "#invite-credit-modal", "data-toggle" => "modal"} Buy Credits
- else
  = link_to "Update your billing info or enter a new one", new_payment_profile_path