Invite a new employee to the application.
= simple_form_for invitational, url: invite_shifts_url, remote: true do |f|
  = f.input :name, label: false, required: false, placeholder: "John Doe"
  = f.input :email, label: false, required: false, placeholder: "example@example.com"
  = f.submit "Invite"