.scam_reports_new.container
  %h1 Scam Report
  %p
    Please report any unusual activities here.
    We are 100% intolerable of scams on our site
    and will pursue any suspects aggressively.
    If you feel you have encountered or been a
    victim of a scam please report it in the box
    below and we will handle it personally!
  = render "form"