.error_500
  .white_box
    %h2 Error 500 - The System Had Gone Wild
    %p Oh no! Something has gone wrong. We've made a note of this and will attend to it soon.
    %p
      Want to
      %a{href: root_path} go back to our home page
      and try again?