.errors.error_404
  .message_box
    .contents_box
      %h1 Error 404: Page Not Found
      %p
        Oh no! Looks like the page you were looking for took off way too fast. How about you try it again and start at the
        %a{href: root_path} home page.