.errors.error_404
  .message_box
    .contents_box
      %h1 Error 404: Page Not Found
      %p
        Whoops, the page you're looking for took off in a hurry but didn't leave a note about here it was going.
      %p
        Want to
        %a{href: root_path} go back to our home page
        and try again?