.errors.error_404
  .message_box
    .contents_box
      %h1 Error 404: Page Not Found
      %p
        Wow! There are a lot of users on WorkCheetah at the same time. This is slowing us down. Don't worry, we are working on getting faster! Start again by going back to the
        %a{href: root_path} Home page