.errors.error_500
  .message_box
    .contents_box
      %h1 Error 500: Something Went Wrong
      %p
        Oh no! Something has gone wrong. Maybe it was a lion attack. We've made a note of this and will attend to it ASAP.
      %p
        Want to
        %a{href: root_path} go back to our home page
        and try again?