%h1 Activity Feed
%ul
- if @activities
  - @activities.each do |activity|
    %li
      = link_to("Job Details", activity.job)
      = "#{raw(activity.message)} #{time_ago_in_words(activity.created_at)} ago..."
.buttonholds
  %a.btn.btn-viewall{ :href => activities_path} View All
