=form_tag search_categories_path, method: :get, class: "form-inline", role: "form" do
  .input-group
    =text_field_tag :search, @search || nil, placeholder: "Start Hunting", autofocus: true, class: "search-query span4"
    =select_tag :category, options_from_collection_for_select(Category.all, "id", "name"),include_blank: true
    %button.btn.btn-default{type: "submit"}
      %span.glyphicon.glyphicon-search