- if user_signed_in?
  - if ['business'].include?(current_user.role?)
    = render partial: 'business_dashboard'
  - elsif ['freelancer'].include?(current_user.role?)
    = render partial: 'freelancer_dashboard'
  - else
    = render partial: 'employee_dashboard'
- else
  = render partial: 'landing_page'

