= simple_form_for Todo.new, remote: true, html: {class: "form-inline"} do |f|
  .form-group
    = f.input :title, label: false, required: true, input_html: {class: "form-control"}
    = f.input :date, as: :hidden, input_html: {value: Date.today }
  = f.submit "Add a Todo"