@import "jquery.ui.all";
@import "bootstrap";
@import "bootstrap-responsive";

// Override bootstrap
.alert-info {
	background-color: white !important;
	border-color: white;
	color: black;
}

span.error {
	color: red;
}

.navbar {
	.popover {
		max-height: 300px;
		overflow: auto;
		
		h3.popover-title {
			color: black;
		}

		.popover-content {
			p.notification {
				color: black !important;
				margin: 8px 0 8px 0;

				a {
					color: black !important;
					text-align: left !important;
					margin: 0 !important;
					padding: 0 !important;
				}
			}

			hr {
				margin: 2px 0 2px 0;
			}
		}
	}
}

@import 'font-awesome';
@import "style";
@import "jobs";
@import "getting-faster";
@import "errors";