@import "jquery.ui.all";
@import "bootstrap";
@import "bootstrap-responsive";

// Override bootstrap
.alert-info {
	background-color: white !important;
	border-color: white;
	color: black;
}

span.error {
	color: red;
}

@import 'font-awesome';
@import "style";
@import "jobs";
@import "getting-faster";
@import "errors";