.rating {
  width: 50px;
  span {
    padding: 15px;
    font-size: 30px;
  }
}

.connectedSortable {
  min-height: 100px;
}

#projectsort {
  overflow: auto;
}

.projectOverview {
    width:250px;
    padding:3px;
    text-align:center;
    min-height:300px;
    float:left;
    margin:3px 3px 3px 3px
}

.fc-header-title {
  h2 {
    font-size: 15px;
  }
}