@import "bootstrap";

@import "chosen";
@import "fullcalendar";
@import "jquery.ui.all";
// @import "number-polyfill";


// HOME PAGE
$navtop:       hsla(0, 0.0000%, 18.8235%, 1.0000);    // #303030  very dark gray
$navbottom:    hsla(0, 0.0000%, 9.4118%, 1.0000);     // #181818  almost black
$navborder:    hsla(360, 1.1952%, 50.7843%, 1.0000);  // #838080  gray
$navyellow:    hsla(51, 78.0591%, 53.5294%, 1.0000);  // #e5c92c  yellow
$navlyellow:   hsla(51, 78.0591%, 75.5294%, 1.0000);  // #f1e390  pale yellow
$navlabel:     hsla(0, 0.0000%, 53.3333%, 1.0000);    // #888888  gray

// LANDING PAGES
$bizbg1:       hsla(102, 28.2443%, 74.3137%, 1.0000); // #b6d0ab  pale green
$freebg1:      hsla(16, 38.7755%, 80.7843%, 1.0000);  // #e1c5bb  peach
$empbg1:       hsla(330, 13.4615%, 59.2157%, 1.0000); // #a58997  plum
$bg2:          hsla(45, 74.6342%, 59.8039%, 1.0000);  // #e5bf4c  gold 
$bg3:          hsla(192, 34.1463%, 51.7647%, 1.0000); // #5a9dae  light blue
$bg4:          hsla(133, 23.2323%, 61.1765%, 1.0000); // #85b38f  green
$bg5:          hsla(55, 50.6383%, 46.0784%, 1.0000);  // #b1a73a  mustard
$bg6:          hsla(321, 31.8777%, 55.0980%, 1.0000); // #b16897  violet
$bg7:          hsla(75, 2.5974%, 69.8039%, 1.0000);   // #b3b4b0  light gray
$bg8:          hsla(0, 0.0000%, 12.5490%, 1.0000);    // #202020  black

// FOOTER
$btnorange:    hsla(37, 65.2542%, 53.7255%, 1.0000);  // #d69a3c  orange

// Sitewide Bootstrap 3.0 Overrides 
html,body {
  min-height: 100%;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: 'Alfa Slab One', cursive;
  color: #FFF;
  text-shadow: none;
  text-align: left;
  -webkit-font-smoothing: antialiased;
          font-smoothing: antialiased;
}


// control the background of other pages here 
body.sessions, 
body.registrations, 
body.passwords, 
body.jobs, 
body.resumes, 
body.accounts,
body.categories, 
body.projects, 
body.accounting,
body.contacts, 
body.video_chats,
body.conversations {
  background: url(sidebg2.png) repeat;
  .container {
    background: #FFF;
    -webkit-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
       -moz-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
            box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
  }
  #main label {
    display: block;
    margin-top: 20px;

  }
  #main label.boolean.optional {
    display: inline-block;
    padding-left: 7px;
  }
  #main .btn {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  #main h2 {
    background: transparent;
    border-radius: 0px;
    padding: 8px 0px;
    margin-top: 22px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 44px;
  }
  #main .deviser {
    min-height: 800px;
  }
}

// Top Navigation
.brand img {
	width: 350px;
	padding: 10px 10px 10px 10px;
}
.navbar-default .navbar-collapse .divider-vertical {
  height: 40px;
  width: 1px;
  margin: 22px 8px 0px 8px;
  border: none;
  background-image:         linear-gradient(bottom, $navtop 0%, $navlabel 35%, $navlabel 65%, $navbottom 100%);
  background-image:      -o-linear-gradient(bottom, $navtop 0%, $navlabel 35%, $navlabel 65%, $navbottom 100%);
  background-image:    -moz-linear-gradient(bottom, $navtop 0%, $navlabel 35%, $navlabel 65%, $navbottom 100%);
  background-image: -webkit-linear-gradient(bottom, $navtop 0%, $navlabel 35%, $navlabel 65%, $navbottom 100%);
  background-image:     -ms-linear-gradient(bottom, $navtop 0%, $navlabel 35%, $navlabel 65%, $navbottom 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, $navbottom), color-stop(0.35, $navlabel), color-stop(0.65, $navlabel), color-stop(1, $navbottom) );
  opacity: 0.75;
}
.navbar-default .navbar-collapse {
  border: 0px;
  border-color: $navborder;
  input[type="email"] {
    width: 137px;
    height: 24px;
    border: 0px;
    border-radius: 4px;
    padding: 2px 10px;
    background-color: rgb(255, 255, 255) !important;
    margin-right: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
       -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
  }
  input[type="password"] {
    width: 137px;
    height: 24px;
    border: 0px;
    border-radius: 4px;
    padding: 2px 10px;
    background-color: rgb(255, 255, 255) !important;
    margin-right: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
       -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
  }
  input[type="submit"] {
    height: 26px;
    color: #FFF;
    font-size: 13px;
    border: 0px;
    border-radius: 5px;
    padding: 0px 12px;
    background-color: $navyellow;
    margin-top: 24px;
    margin-right: 70px;
    font-weight: bold;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
    -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $navyellow;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
  }
}
.navbar-default .navbar-nav > li > a {
  color: #777777;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 13px;
  padding-top: 30px;
  &:hover {
    color: #FFF;
  }
}
.navbar-default .navbar-nav > .active > a {
  background: none !important;
  color: $navlyellow;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.8);
  font-size: 13px;
  padding-top: 27px;
  border-top: 4px solid $navyellow;
  margin-top: -1px;
  &:hover {
    color: #FFF;
  }
}
.navbar-default {
  background-image: -moz-linear-gradient(top, $navtop, $navbottom);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($navtop), to($navbottom));
  background-image: -webkit-linear-gradient(top, $navtop, $navbottom);
  background-image: -o-linear-gradient(top, $navtop, $navbottom);
  background-image: linear-gradient(to bottom, $navtop, $navbottom);
  background-repeat: repeat-x;
  border: 1px solid #000;
  -webkit-box-shadow: inset 0px -1px 2px rgba(255,255,255,0.55), inset 0 -3px 5px rgba(0,0,0,1.0), 1px 2px 6px rgba(0,0,0,1.0);
     -moz-box-shadow: inset 0px -1px 2px rgba(255,255,255,0.55), inset 0 -3px 5px rgba(0,0,0,1.0), 1px 2px 6px rgba(0,0,0,1.0);
          box-shadow: inset 0px -1px 2px rgba(255,255,255,0.55), inset 0 -3px 5px rgba(0,0,0,1.0), 1px 2px 6px rgba(0,0,0,1.0);
  border-top: 0px;
  border-radius: 0px 0px 6px 6px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff303030', endColorstr='#ff181818', GradientType=0);
  padding: 0 0 10px 0;
  .navbar-toggle {
    margin-top: 15px;
    border: none;
    background-color: $navyellow;
    .icon-bar {
      background-color: #000;
    }
  }
}
form.navbar-form label {
  color: $navlabel;
  font-weight: normal;
  font-size: 13px;
}

// HOME PAGE CSS
body.dashboards.home {
  background: url(NEWbackground.jpg) left top no-repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='NEWbackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='NEWbackground.jpg', sizingMethod='scale')";
  -webkit-background-size: cover;
     -moz-background-size: cover;
       -o-background-size: cover;
          background-size: cover;
}

h1 {
  padding: 8px 20px;
  margin-top: 50px;
  font-size: 65px;
  text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
}
h2 {
  background: $navyellow;
  border-radius: 6px;
  padding: 8px 20px;
  margin-top: 40px;
}
h3 {
  width: auto;
  font-size: 18px;
  text-align: center;
  background: $navbottom;
  border-radius: 6px;
  padding: 10px 8px;
}
.cheetahimage img {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 45%;
  z-index: -100;
}
.btn {
  display: inline-block;
  padding: 10px 35px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 3px;
  z-index: 10000;
  color: $navbottom;
  -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -20px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -20px 3px rgba(0,0,0,0.1);
          box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -20px 3px rgba(0,0,0,0.1);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  &:hover {
    color: $navbottom;
  }
}
.btn-primary {
  background-color: hsla(0, 0.0000%, 81.1765%, 1.0000);
  border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  z-index: 10000;
  &:hover {
    background-color: $navyellow;
    border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  }
}
.btn-getstarted {
  padding: 12px 20px;
  background-color: $navyellow;
  border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  z-index: 10000;
  font-size: 23px;
  border-radius: 10px;
  color: hsla(52, 64.4737%, 29.8039%, 1.0000);
  margin-left: 10px;
  margin-right: 10px;
   -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -30px 3px rgba(0,0,0,0.1);
     -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -30px 3px rgba(0,0,0,0.1);
          box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -30px 3px rgba(0,0,0,0.1);
          text-shadow: 0 1px 1px rgba(255, 255, 255, 1.0);
  &:hover {
    background-color: $navyellow;
    border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
    -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  }
}
.circleicon {
  text-align: center;
  background: hsla(0, 0.0000%, 100.00%, 0.5);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: 20px 17px 20px 17px;
  -webkit-transition: background 0.3s ease-in-out;
     -moz-transition: background 0.3s ease-in-out;
          transition: background 0.3s ease-in-out;
  &:hover {
    background: hsla(0, 0.0000%, 100.00%, 1.0);
    text-decoration: none;
  }
  img {
    margin-top: 60px;
  }
}
.circleicon.biz {
  &:hover {
    background: $bizbg1;
  }
}
.circleicon.free {
  &:hover {
    background: $freebg1;
  }
}
.circleicon.emp {
  &:hover {
    background: $empbg1;
  }
}
.well.well-large{
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  margin-right: 15px;
  background-color: hsla(0, 0.0000%, 0.00%, 0.45);
  border: 0px solid #e3e3e3;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  p {
    color: #FFF;
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 5px;
  }
  input[type="email"] {
    font-weight: 200;
    width: 300px;
    height: 50px;
    border: 0px;
    font-size: 20px;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: rgb(255, 255, 255) !important;
    margin-right: 5px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
       -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.6);
  }
}
.footings {
  text-align: center;
  color: #FFF;
  font-weight: 200;
}


// LANDING PAGES CSS
body.staticpages.staticbusinesses  { background: $bizbg1;  }
body.staticpages.staticfreelancers { background: $freebg1; }
body.staticpages.staticemployees   { background: $empbg1;  }
h4 {
  font-size: 65px;
  padding: 0px 90px;
  margin-top: 145px;
  margin-bottom: 130px;
  text-shadow: 2px 2px 3px hsla(37, 85.1852%, 5.2941%, 0.8000);
}
h5 {
  font-size: 45px;
  padding: 0px 0px;
  margin-top: 70px;
  text-shadow: 2px 2px 3px hsla(37, 85.1852%, 5.2941%, 0.8000);
}
h6 {
  font-size: 65px;
  padding: 0px 0px;
  margin-top: 120px;
  margin-bottom: 115px;
  text-shadow: 2px 2px 3px hsla(37, 85.1852%, 5.2941%, 0.8000);
}
.section {
  position: relative;
  text-align: center;
  max-width: 100%;
  overflow: hidden;
}
#section-1.section {
  margin-top: -100px;
  padding-top: 100px;
  z-index: 1;
  overflow: visible;
  max-width:100%;
}
#section-2.section {
  background: $bg2;
  z-index: 2;
}
#section-3.section {
  background: $bg3;
  z-index: 3;
}
#section-4.section {
  background: $bg4;
  z-index: 4;
}
#section-5.section {
  background: $bg5;
  z-index: 5;
}
#section-6.section {
  background: $bg6;
  z-index: 6;
}
#section-7.section {
  background: $bg7;
  z-index: 7;
}
#section-8.section {
  background: $bg8;
  z-index: 8;
}
.parallaxitem img {
  position: absolute;
  z-index: -100;
  overflow:hidden;
}
.circleButton img {
  padding: 22px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 60px;
  background: hsla(0, 0.0000%, 0.0000%, 0.3);
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  &:hover {
    background: hsla(0, 0.0000%, 0.0000%, 0.7);
  }
}
.table-responsive {
  border-color: $bg8;
}
.table-responsive > .table > tbody > tr > td {
  border: 10px solid $bg8;
  background-color: #383838;
  color: #FFF;
  line-height: 32px;
}
.table-responsive > .table > thead > tr > td.blank {
  background-color: $bg8;
  border-color: $bg8;
}

.table-responsive > .table > thead > tr > td.bold {
  font-weight: bold;
}

.sidenavholder {
  position: fixed;
  left: 0;
  top: 38%;
  z-index: 10000;
  width: 100px;
  a.sidenav {
    margin-bottom: 15px;
    margin-right: 25px;
    list-style: none;
    display: block;
    border-radius: 0px 5px 5px 0px;
    background: hsla(0, 0.0000%, 0.0000%, 0.3);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    img {
      padding: 10px;
    }
    &:hover {
      background: hsla(0, 0.0000%, 0.0000%, 0.7);
    }
  }
}
#centerconsolholder {
  position: fixed;
  top: 50%;
  z-index: 15000;
  left: 50%;
  text-align: center;
  margin-left: -415px;
  margin-top: -45px;
  .nav {
    li {
      text-align: center;
      display: inline-block;
      vertical-align: middle;
      a {
        text-align: center;
        min-width: 90px;
        min-height: 90px;
        line-height: 90px;
        color: hsla(0, 0.0000%, 100.0000%, 0.5);
        padding: 0px !important;
        font-weight: bold;
        font-size: 10px;
        list-style: none;
        border-radius: 50%;
        float: left;
        margin-right: 30px;
        background: hsla(0, 0.0000%, 100.0000%, 0.3);
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
        &:hover {
          min-width: 110px;
          min-height: 110px;
          line-height: 110px;
          margin-top: -13px;
          margin-bottom: -13px;
          margin-right: 20px;
          margin-left: -10px;
          font-size: 14px;
          color: hsla(0, 0.0000%, 0.0000%, 0.75);
          background: hsla(0, 0.0000%, 100.0000%, 0.75);
        }
      }
    }
    li.active {
      a {
        min-width: 110px;
        min-height: 110px;
        line-height: 110px;
        margin-top: -13px;
        margin-bottom: -13px;
        margin-right: 20px;
        margin-left: -10px;
        font-size: 14px;
        color: hsla(0, 0.0000%, 0.0000%, 0.85);
        background: hsla(0, 0.0000%, 100.0000%, 0.85);
        &:hover {
          color: hsla(0, 0.0000%, 0.0000%, 1.0);
          background: hsla(0, 0.0000%, 100.0000%, 1.0);
        }
      }
    }
    li.sectionprev {
      margin-right: 25px;
      opacity: 0.3;
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
      background: none;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        background-color: none;
      }
    }
    li.sectionnext {
      margin-left: 5px;
      opacity: 0.3;
      background: none;
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
      cursor: pointer;
      &:hover {
        opacity: 0.9;
        background-color: none;
      }
    }
  }
}
.mb-wrapper {
  margin: 0 auto 0px;
  position: relative;
  left: 0;
  top: 0;
}
.mb-slider, .mb-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  position: relative;
  left: 0;
  top: 0;
  font-size: 18px;
}
.mb-active-slider {
  border-color: #333;
}
.mb-slider .mb-panel {
  margin: 0;
  padding: 20px;
  display: block;
  cursor: pointer;
  float: left;
  list-style: none;
  border: 0px;
}
.mb-scroll {
  margin-left: 20px;
  margin-right: -5px;
}
.mb-slider .mb-panel.current {
  cursor: auto;
}
a.mb-scrollButtons {
  display: block;
  width: 45px;
  height: 58px;
  background: transparent url(arrows.png) no-repeat;
  position: absolute;
  top: 50%;
  margin-top: -107px;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  border: 0;
    z-index: 20000000;
    opacity: 0.6;
}
a.mb-scrollButtons.mb-left {
  background-position: left top;
  left: -26px;
}
a.mb-scrollButtons.mb-right {
  background-position: right top;
  right: -40px;
}
a.mb-scrollButtons.mb-left:hover {
  background-position: left bottom;
  opacity: 1.0;
}
a.mb-scrollButtons.mb-right:hover {
  background-position: right bottom;
  opacity: 1.0;
}
a.mb-scrollButtons.disabled {
  display: none;
}
.mb-controls {
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 100;
  a {
    color: #666;
    font: 18px/2.2 Georgia, Serif;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    margin: 0 5px 0 0;
    text-align: center;
    outline: 0;
    &:hover {
      color: black;
    }
  }
}
.mb-controls a.current {
  color: white;
}
.mb-inside {
  padding-top: 35px;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  text-align: center;
  opacity: 0.4;
  img { 
    width: 80px; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
  }
  h3 {
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    background: none;
    font-size: 13px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  }
  &:hover { 
    opacity: 0.75;
  }
}
.mb-panel.current .mb-inside {
  padding-top: 25px;
  opacity: 1.0;
  img {
    width: 100px;
  }
  h3 {
    color: #000;
    font-size: 16px;
  }
}
#slider-one { width: 100%; }
#slider-one > li { width: 330px; min-height: 300px;}
#slider-two { width: 100%; }
#slider-two > li { width: 330px; min-height: 300px;}
#slider-three { width: 100%; }
#slider-three > li { width: 330px; min-height: 300px;}
#slider-four { width: 100%; }
#slider-four > li { width: 330px; min-height: 300px;}
#slider-five { width: 100%; }
#slider-five > li { width: 330px; min-height: 300px;}
#slider-six { width: 100%; }
#slider-six > li { width: 330px; min-height: 300px;}
#slider-seven { width: 100%; }
#slider-seven > li { width: 330px; min-height: 300px;}
#slider-eight { width: 100%; }
#slider-eight > li { width: 330px; min-height: 300px;}
#slider-nine { width: 100%; }
#slider-nine > li { width: 330px; min-height: 300px;}
#slider-ten { width: 100%; }
#slider-ten > li { width: 330px; min-height: 300px;}
#slider-eleven { width: 100%; }
#slider-eleven > li { width: 330px; min-height: 300px;}
#slider-twelve { width: 100%; }
#slider-twelve > li { width: 330px; min-height: 300px;}
#slider-thirteen { width: 100%; }
#slider-thirteen > li { width: 330px; min-height: 300px;}
#slider-fourteen { width: 100%; }
#slider-fourteen > li { width: 330px; min-height: 300px;}
#slider-fifteen { width: 100%; }
#slider-fifteen > li { width: 330px; min-height: 300px;}
#slider-sixteen { width: 100%; }
#slider-sixteen > li { width: 330px; min-height: 300px;}
.cta {
  font-size: 18px;
  color: #FFF;
}
.btn-ctaction {
  background-color: $navyellow;
  border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 12px;
  &:hover {
    background-color: $navyellow;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
}
.thinarrowdown {
  opacity: 0.9;
  padding: 60px;
   -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  &:hover {
    opacity: 1.0;
  }
}
.lrgarrow {
  opacity: 1.0;
  padding: 60px;
  
}
.cta {
  background: url(footerbg.png) repeat;
}

// FOOTER CSS
#footer.section {
  background: $bg7;
  z-index: 9;
  background: url(footerbg.png) repeat;
  padding: 25px;
  h1 {
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  li {
    text-align: left;
    list-style: none;
    padding: 5px;
    border-top: 1px solid $bg7;
    .caret-right {
      display: inline-block;
      width: 0;
      height: 0;
      margin-left: 2px;
      margin-right: 3px;
      vertical-align: middle;
      border-top: 4px solid transparent;
      border-right: 0 dotted;
      border-bottom: 4px solid transparent;
      border-left: 4px solid #FFFFFF;
      content: "";
    }
    a {
      color: $bg7;
      text-decoration: none;
      padding: 5px 5px 5px 5px;
      font-weight: 200;
    }
    &:hover {
      color: #FFF;
      background-color: hsla(0, 0.0000%, 9.0196%, 1.0000);
      -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
         -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
              box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
      a {
        color: #FFF;
      }
      .caret-right {
        border-left: 4px solid #ea1b24;
      }
    }
  }
  input {
    margin-top: 5px;
  }
  input[type="text"] {
    border: 0px;
    border-radius: 0px;
    padding: 2px 10px;
    background-color: hsla(0, 0.0000%, 9.0196%, 1.0000);
    margin-top: 5px;
    -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
       -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
            box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
  }
  textarea {
    border: 0px;
    border-radius: 0px;
    padding: 2px 10px;
    background-color: hsla(0, 0.0000%, 9.0196%, 1.0000);
    margin-top: 5px;
    -webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
       -moz-box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
            box-shadow: inset 0 5px 5px rgba(0,0,0,1.0), inset 0 -3px 5px rgba(0,0,0,1.0);
  }
  .btn {
    width: 40px;
    height: 26px;
    color: #FFF;
    font-size: 13px;
    border: 0px;
    border-radius: 2px;
    padding: 0px 12px;
    background-color: $btnorange;
    margin-top: 10px;
    margin-right: 0px;
    float: right;
    font-weight: bold;
    -webkit-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
       -moz-box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
            box-shadow: inset 1px 1px 1px rgba(255,255,255,0.6), inset 0 -13px 3px rgba(0,0,0,0.1), 2px 2px 6px rgba(0,0,0,1.0);
    -webkit-transition: all 0.2s ease-in-out;
       -moz-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
    &:hover {
      background-color: $btnorange;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
  }
  .navbar.navbar-inverse {
    border: none;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: -26px;
    background-image: -moz-linear-gradient(top, #1f1f1f, $navbottom);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1f1f1f), to($navbottom));
    background-image: -webkit-linear-gradient(top, #1f1f1f, $navbottom);
    background-image: -o-linear-gradient(top, #1f1f1f, $navbottom);
    background-image: linear-gradient(to bottom, #1f1f1f, $navbottom);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1f1f1f', endColorstr='#ff181818', GradientType=0);
    -webkit-box-shadow: inset 0 5px 10px rgba(0,0,0,1.0);
       -moz-box-shadow: inset 0 5px 10px rgba(0,0,0,1.0);
            box-shadow: inset 0 5px 10px rgba(0,0,0,1.0);
    padding: 0px 0px 35px 0px;
    margin-right: -25px;
    margin-left: -25px;
    .navbar-toggle {
      margin-top: 15px;
      border-color: none;
      background-color: $navyellow;
      .icon-bar {
        background-color: #000;
      }
    }
    p {
      font-weight: 400;
      font-size: 14px;
      color: #000000;
      text-shadow: 0 1px 2px #2d2d2d;
      padding-top: 20px;
      margin-top: -4px;
    }
    li {
      border: none;
      a {
        font-weight: 400;
        font-size: 14px;
        color: #000000;
        text-shadow: 0 1px 2px #2d2d2d;
        padding-top: 20px;
        margin-top: -6px;
        -webkit-transition: all 0.2s ease-in-out;
           -moz-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
        &:hover {
          color: #FFF;
          border-top: 4px solid $navyellow;
          padding-top: 16px;
          text-shadow: none;
        }
      }
      &:hover {
        background: none;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
      }
    }
  }
}
.footerimg img {
  float: left;
}
#footer.section .navbar.navbar-inverse {
  .container {
    background: transparent;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  li.active {
    a {
      color: #FFF;
    }
  }
}

// INNER PAGES CSS
.ads {
  .well {
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #CCC;
    -webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
            box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
    h2 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 15px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
    }
    h3 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 15px;
      background: none;
      padding: 30px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-align: left;
    }
    p {
      font-size: 12px;
      padding: 5px 0px 10px 0px;
    }
    a {
      font-size: 12px;
      color: #c16e1a;
      margin-bottom: 30px;
    }
  }
}
.sidenaver {
  ul {
    padding-left: 0px;
    margin-left: 0px;
    li {
      list-style: none;
      font-size: 14px;
    }
  }
  h2 {
    font-family: 'Open Sans', sans-serif;
    color: #c16e1a;
    font-size: 18px;
    background: none;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-weight: bold;
  }
  h3 {
    font-family: 'Open Sans', sans-serif;
    color: #c16e1a;
    font-size: 18px;
    background: none;
    padding: 30px 0px 10px 0px;
    margin: 0px;
    font-weight: bold;
    text-align: left;
  }
  p {
    font-size: 12px;
    padding: 5px 0px 10px 0px;
  }
  a {
    font-size: 12px;
    color: #c16e1a;
    margin-bottom: 30px;
  }
}
.openpositions {
 h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    color: #000;
    font-weight: bold;
    text-shadow: none;
    margin-top: 0px;
    padding-top: 0px;
    img {
      width: 50px;
    }

  }
  a.toprii {
    float: right;
    margin-top: -50px;
  }
  .well {
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #CCC;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
            box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
    .subwell {
      background: hsla(330, 6.6667%, 94.1177%, 1.0000);
      margin: 0px -19px 0px -19px;
      padding: 10px 20px 10px 20px;
      width: 105%;
      font-size: 14px;
      -webkit-box-shadow: none;
         -moz-box-shadow: none;
              box-shadow: none;
    }
    li {
      list-style: none;
      padding: 4px 0px;
    }
    ul {
      padding: 5px;
      margin-top: -15px;
    }
    h1 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 20px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
      color: #000;
      font-size: 18px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    a {
      font-size: 14px;
      color: #c16e1a;
    }
    .buttonholds {
      text-align: right;
    }
  }
}
.main {
  .well {
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #CCC;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
            box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
    li {
      list-style: none;
      padding: 4px 0px;
    }
    ul {
      padding: 5px;
    }
    h1 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 18px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    a {
      font-size: 14px;
      color: #c16e1a;
    }
    .buttonholds {
      text-align: right;
    }
  }
}
.companyinfo {
  .well {
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #CCC;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
            box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
    img {
      width: 200px;
    }
    li {
      list-style: none;
      padding: 4px 0px;
    }
    ul {
      padding: 5px;
    }
    h1 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 28px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
      color: #000;
      font-size: 22px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    h3 {
      font-family: 'Open Sans', sans-serif;
      color: #000;
      font-size: 18px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
      text-align: left;
    }
    .simplelink {
      text-align: center;
      padding-top: 15px;
      a {
        position: relative;
        font-size: 14px;
        color: #c16e1a;
        text-decoration: underline;
      }
    }
    .buttonholds {
      text-align: right;
    }
  }
}
.companydetails {
  .well {
    border-radius: 0px;
    background: #FFF;
    border: 1px solid #CCC;
    font-size: 14px;
    -webkit-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
       -moz-box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
            box-shadow: inset 0 0px 15px rgba(0,0,0,0.15);
    img {
      width: 200px;
    }
    li {
      list-style: none;
      padding: 4px 0px;
    }
    ul {
      padding: 5px;
    }
    h1 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 24px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    h4 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 24px;
      background: none;
      padding: 20px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
    }
    h2 {
      font-family: 'Open Sans', sans-serif;
      color: #c16e1a;
      font-size: 18px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: normal;
      text-shadow: none;
      float: right;
    }
    h3 {
      font-family: 'Open Sans', sans-serif;
      color: #000;
      font-size: 18px;
      background: none;
      padding: 0px 0px 10px 0px;
      margin: 0px;
      font-weight: bold;
      text-shadow: none;
      text-align: left;
    }
    a.btn {
      float: right;
      margin-bottom: 30px;
      margin-left: 30px;
    }
  }
}
a.btn.btn-viewall {
  background-color: #cc871f;
  background-image: -moz-linear-gradient(top, #cc871f, #a84b13);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc871f), to(#a84b13));
  background-image: -webkit-linear-gradient(top, #cc871f, #a84b13);
  background-image: -o-linear-gradient(top, #cc871f, #a84b13);
  background-image: linear-gradient(to bottom, #cc871f, #a84b13);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc871f', endColorstr='#ffa84b13', GradientType=0);
  border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  z-index: 10000;
  color: #FFF;
  text-shadow: none;
  font-size: 17px;
  font-weight: 100;
  border-radius: 6px;
  padding: 4px 25px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-transition: all 0.3s ease-in-out;
     -moz-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  &:hover {
    background: #cc871f;
    border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);

  }
}
.datefloat {
  float: right;
  margin-top: -30px;
}
.alert-success {
  color: #FFF;
  font-size: 18px;
  background-color: #cc871f;
  background-image: -moz-linear-gradient(top, #cc871f, #a84b13);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cc871f), to(#a84b13));
  background-image: -webkit-linear-gradient(top, #cc871f, #a84b13);
  background-image: -o-linear-gradient(top, #cc871f, #a84b13);
  background-image: linear-gradient(to bottom, #cc871f, #a84b13);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc871f', endColorstr='#ffa84b13', GradientType=0);
  border-color: hsla(0, 0.0000%, 65.1765%, 1.0000);
  text-shadow: none;
  border-radius: 6px;
  padding: 12px 25px;
}
.close { 
  font-size: 24px;
}
.topcallout {
  margin-top: -40px;
  margin-bottom: 30px;
  h1 {
    color: #000;
    font-size: 40px;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  img {
    width: 130px;
    margin-top: -10px;
  }
  p {
    font-size: 16px;
    margin-left: -40px;
  }
}
body.staticpages.staticpageone, body.staticpages.staticpagethree, body.staticpages.staticpagetwo {
  background: url(sidebg2.png) repeat;
  .container {
    background: #FFF;
    -webkit-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
       -moz-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
            box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
  }
}
.openpositions {
  margin-top: -55px;
}

// side nav NOTE: Not currently being used 
a.sidenav.biz, a.sidenav.free, a.sidenav.emp {
  &:hover {
    margin-right: 0px;
    padding-left: 25px;
  }
}


body.dashboards.home.loggedin {
  background: url(sidebg2.png) repeat;
  .container {
    background: #FFF;
    -webkit-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
       -moz-box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
            box-shadow: 0px 30px 60px 30px rgba(255,255,255,1.0);
  }
}

.help-block span {
  font-style: italic;
  font-size: 80%;
}

.inline {
  display: inline;
  margin-right: 10px;
}

.addfieldlinkholder {
  fieldset:last-child {
    margin-bottom: 20px;
  }
}

body.jobs.new #main label.boolean.required {
  display: inline;
  margin-left: 10px;
}

// input[type="checkbox"] {
//   margin: 20px 0 0;
// }

.lead {
  font-size: 31px;
}

.chosen-container-multi .chosen-results {
  margin: 0;
  padding: 10px 0 0 0;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 34px;
}
.chosen-container-multi .chosen-choices li.search-field {
  height: 34px;
  font-size: 14px;
  line-height: 1.428571429;
  font-family: 'Open Sans', sans-serif;
}

.chosen-container-multi .chosen-choices {
  border-radius: 4px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

.chosen-container-multi {
  .chosen-choices li {
    &.search-field {
      .default {
        color: #cccccc;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
}

.chosen-container-multi .chosen-choices li.search-choice {
  padding: 7px 20px 7px 5px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 8px;
}

.remover {
  padding-top: 70px;
}

.textrighty {
  padding-top: 5px;
  letter-spacing: 0.1em;
  b {
    font-weight: normal;
    font-size: 130%;
    color: #817F7F;
    padding-top: 15px;
  }
}

body.jobs.new #main .input-group-addon:last-child label {
  margin-top: 0px;
  line-height: 0px;
  margin-bottom: -5px;
}


body.resumes #main label{
  display: inline;
}

body.resumes #main input[type="checkbox"] {
  margin-right: 10px;
}

body.resumes #contact-details .form-control {
  margin-bottom: 20px;
}


// RESPONSIVE CSS
@media (max-width: 1350px) {
  .openpositions h1 {
    font-size: 28px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 1240px;
  }
}

@media (max-width: 1233px) {
  h3 {
    font-size: 16px;
  }
  h4 {
    font-size: 45px;
  }
  h5 {
    font-size: 35px;
  }
  h6 {
    font-size: 45px;
  }
  .circleicon {
    width: 180px;
    height: 180px;
    margin: 20px 20px 20px 20px;
    img {
      width: 60px;
    }
  }
}

@media (max-width: 1200px) {
  .navbar-form {
    display: none;
  }
  h1 {
    font-size: 48px;
  }
  h3 {
    font-size: 14px;
  }
  .circleicon {
    width: 155px;
    height: 155px;
    margin: 20px 10px 20px 10px;
    img {
      margin-top: 45px;
    }
  }
  .well.well-large {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: hsla(0, 0.0000%, 0.00%, 0.45);
    border: 0px solid #e3e3e3;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    p {
      font-size: 16px;
    }
    input[type="email"] {
      font-weight: 200;
      width: 200px;
      height: 35px;
      border: 0px;
      font-size: 14px;
      border-radius: 10px;
      padding: 8px 5px;
      margin-right: 2px;
    }
    .btn-getstarted {
      padding: 5px 10px;
      font-size: 18px;
    }
  }
  .footings p {
    font-size: 10px;
  }
}

@media (max-width: 990px) {
  .openpositions {
    margin-top: 30px;
  }
  h1 {
    font-size: 60px;
  }
  h4 {
    font-size: 33px;
  }
  h5 {
    font-size: 28px;
  }
  h6 {
    font-size: 33px;
  }
  .cheetahimage img {
    display: none;
  }
  .well.well-large {
    border-radius: 0px;
    margin-right: 0px;
  }
  .footings {
    background: hsla(0, 0.0000%, 12.1569%, 0.8000);
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 800px) {
  .openpositions h1 {
    font-size: 22px;
  }
  .parallaxitem img {
    display: none;
  }
}

@media (max-width: 767px) {
  .topcallout p {
    margin-left: 15px;
  }
  h4 {
    font-size: 28px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 28px;
  }
  .navbar-default .navbar-collapse .divider-vertical {
    display: none;
  }
  #centerconsolholder {
    display: none;
  }
}

@media (max-width: 643px) {
  .openpositions a.toprii {
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    float: none;
  }
  .openpositions h1 {
    font-size: 20px;
  }
  .navbar-default {
    margin-right: -15px;
    margin-left: -15px;
    border-radius: 0px;
  }
  .parallaxitem {
    display: none;
  }
  .brand img {
    width: 240px;
  }
  h1 {
    font-size: 33px;
  }
  h4 {
    font-size: 32px;
  }
  h5 {
    font-size: 32px;
  }
  h6 {
    font-size: 40px;
  }
  .well.well-large{
    p {
      font-size: 12px;
    }
    input[type="email"] {
      width: 94%;
      font-size: 14px;
      margin-bottom: 15px;
    }
  }
  .sidenavholder {
    display: none;
  }
}

@media (max-width: 400px) {
  .btn {
    padding: 10px 28px;
  }
  h1 {
    font-size: 46px;
    text-align: center;
  }
  h2 {
    margin-right: -15px;
    margin-left: -15px;
    text-align: center;
    font-size: 35px;
  }
  .well.well-large p {
    font-size: 26px;
  }
  .footings p {
    font-size: 13px;
  }
  .mainparlinks {
    text-align: center;
    a {
      margin-left: 25%;
      margin-right: auto;
    }
  }
  h5 {
    font-size: 29px;
    margin-top: 10px;
  }
  h6 {
    font-size: 29px;
    margin-top: 30px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 55px;
    margin-bottom: 35px;
  }
  .mb-controls {
    display: none;
  }
  .lrgarrow { 
    width: 120px;
    padding: 20px;
  }
  .thinarrowdown {
    padding: 10px;
  }
  .mb-scroll {
    margin-bottom: -70px;
  }
  .mb-panel.current .mb-inside h3 {
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
  .btn-ctaction {
    display: block;
  }
  .cta img {
    display: none;
  }
  .topcallout p {
    margin-left: 10px;
  }
  .topcallout img {
    display: none;
  }
  .ads .well h2 {
    text-align: left;
  }
  .sidenaver h2 {
    text-align: left;
  }
  .openpositions h1 {
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
  }
  .openpositions a.toprii {
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    float: none;
  }
  .openpositions .well h1 img {
    display: none;
  }
  .openpositions .well h2 {
    text-align: left;
  }
  a.datefloat {
    float: none;
  }
  .main .well h1 {
    text-align: left;
  }
  .main .well {
    text-align: left;
  }
  .companyinfo .well h1 {
    text-align: left;
    font-size: 22px;
  }
  .companyinfo .well h2 {
    text-align: left;
  }
  .companydetails .well h1 {
    text-align: left;
  }
}