$break-small: 320px;
$break-large: 980px;
$break-short: 480px;
$break-tall: 673px;
$break-tallest: 805px;


@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == shortest {
    @media only screen and (max-height: $break-short - 1) { @content; }
  }
  @else if $media == short {
    @media only screen and (min-height: $break-short + 1) and (max-height: $break-tall - 1) { @content; }
  }
  @else if $media == tall {
    @media only screen and (min-height: $break-tall + 1) and (max-height: $break-tallest - 1) { @content; }
  }
  @else if $media == tallest {
    @media only screen and (min-height: $break-tallest) { @content; }
  }

}

body{
  background: url("background.jpg");

  @include respond-to(medium){
    padding-top: 0;
  }
}

.header_box{
  margin-bottom: 20px;
  background: white;

  .logo{
    margin: 30px 0;
  }

  .navbar{
    .navbar-inner{
      background-color: #0e0e0d; /* layer fill content */
      background-image: -moz-linear-gradient(bottom, #0e0e0d 0%, #2d2d2b 100%); /* gradient overlay */
      background-image: -o-linear-gradient(bottom, #0e0e0d 0%, #2d2d2b 100%); /* gradient overlay */
      background-image: -webkit-linear-gradient(bottom, #0e0e0d 0%, #2d2d2b 100%); /* gradient overlay */
      background-image: linear-gradient(bottom, #0e0e0d 0%, #2d2d2b 100%); /* gradient overlay */


      color: white;
      border: 0;

      a{
        margin-right: 10px;
        padding: 10px 0;
        display: inline-block;
        color: white;
        font-family: "myriad-pro";

        &.current{

        }

        @include respond-to(wide){
          margin-right: 20px;
        }
      }
    }
  }
}

.white_box{
  background: white;
  @include border-radius(10px);
  @include box-shadow(0 0 10px #bbb);
  padding: 20px;
}

body.home{

  .search_content{
    background: url("billboard.jpg") no-repeat bottom right;
    height: 550px;

    .search_box{
      margin: auto;
      float: none;
      clear: both;

      @include respond-to(tallest){
        input[type=text]{
          font-size: 18px;
          padding: 10px;
        }
      }

      label{
        font-weight: bold;
      }

      .tour_link{
        margin-left: 5px;
      }

      .btn{
        padding: 5px 20px;
        font-size: 16px;
      }

      .job-search .search-field{
        width: 95% !important;
      }
    }
  }

  .employers_box{
    background: #f2f2f2 url("home-employers-background.png") repeat-x;
    margin-top: 100px;
    padding-bottom: 500px;

    @include respond-to(tallest){
      margin-top: 150px;
    }

    @include respond-to(short){
      margin-top: 75px;
    }

    .employers{
      padding: 30px 0;
      width: 400px;
      margin: auto;

      @include respond-to(tallest){
        padding: 40px 0;
      }

      @include respond-to(short){
        padding: 20px 0;
      }



      h2{
        margin: 0;
        font-size: 20px;
      }
    }
  }

  .footer{
    a{
      color: black;
      margin-right: 10px;
    }
  }
}

.profiles_new, .profiles_edit{
  h2{
    font-size: 18px;
    text-transform: uppercase;
    color: #2879ae;
  }

  input[type=text],input[type=email], textarea{
    width: 98%;
  }

  .experience, .school, .reference, .experiences, .schools, .references{
    margin-bottom: 10px;
  }
}

.profile_show{
  .contact_details{
    border: 1px #eee solid;
    border-width: 1px 0;
    padding: 5px 0;
    margin-bottom: 10px;
    span{
      margin-right: 15px;
    }
  }
}