$break-small: 320px;
$break-medium: 980px;
$break-large: 1200px;
$break-short: 480px;
$break-tall: 673px;
$break-tallest: 805px;


@mixin respond-to($media) {
  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  // @else if $media == wide {
  //   @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
  // }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == shortest {
    @media only screen and (max-height: $break-short - 1) { @content; }
  }
  @else if $media == short {
    @media only screen and (min-height: $break-short + 1) and (max-height: $break-tall - 1) { @content; }
  }
  @else if $media == tall {
    @media only screen and (min-height: $break-tall + 1) and (max-height: $break-tallest - 1) { @content; }
  }
  @else if $media == tallest {
    @media only screen and (min-height: $break-tallest) { @content; }
  }
}

body{
  background: url("background.jpg");
  font-family: "myriad-pro";

  @include respond-to(handheld){
    padding-top: 0;
  }

  @include respond-to(medium){
    padding-top: 0;
  }

}

.header_box{

  @include respond-to(medium){
    .field input{ width: 100px; }
  }

  @include respond-to(handheld){
    .home{ display: none; }
  }

  .navbar{
    .navbar-inner{
      color: white;

      a{
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px 0;
        display: inline-block;
        color: white;

        &:hover{
          background: transparent;
          text-decoration: underline;
        }
      }
    }
  }
}

body.home{
  .search_box{
    background: url("billboard.jpg") no-repeat bottom right;
    height: 550px;

    @include respond-to(medium){
      height: 475px;
    }

    .logo img{
      width: 500px;
      margin: 60px auto 60px 40px;

      @include respond-to(medium){
        width: 400px;
        margin: 40px auto 40px 20px;
      }

      @include respond-to(xwide){
        width: auto;
        margin: 60px auto 60px 40px;
      }
    }

    .search_form{
      margin-left: 60px;
      color: white;

      a{
        color: white;
        text-decoration: underline;
      }

      .field{
        margin-bottom: 10px;

        label{
          font-size: 18px;
          margin-bottom: 7px;
          width: 400px;

          @include respond-to(medium){
            font-size: 16px;
            width: 300px;
          }
        }

        input{
          font-size: 18px;
          padding: 7px;
          width: 400px;

          @include respond-to(medium){
            width: 300px;
            font-size: 14px;
            padding: 5px;
          }

          &.location{
            width: auto;
          }
        }
      }

      span.tour_link{
        margin-left: 5px;

        a{
          margin-left: 5px;

          @include respond-to(medium){
            background: rgba(0,0,0,0.5);
            padding: 5px 10px;
            @include border-radius(5px);
          }
        }
      }
    }
  }

  .content{
    background: #e2ebf0;
    padding: 40px 60px;

    hr.divider{
      height: 1px;
      border-bottom: 1px #ccc solid;
    }

    h2{
      text-align: center;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;

      @include respond-to(medium){
        font-size: 28px;
      }
    }

    .c1 .difference{ padding-right: 20px; }
    .c2 .difference{ padding-left: 20px; }

    .difference{
      margin-bottom: 20px;

      h3{
        font-weight: normal;
        font-size: 20px;
        line-height: 1;

        @include respond-to(medium){
          font-size: 18px;
          font-weight: bold;
        }
      }

      p{
        @include respond-to(wide){
          font-size: 15px;
        }
      }
    }

    .articles{
      .article_box{
        width: 50%;

        .article{
          h3{
            font-size: 18px;
            line-height: 1;
          }
          p{
            font-size: 16px;
          }
        }
        .left{ padding-right: 20px; }
        .article.right{ padding-left: 20px; }
      }
    }
  }
}

.columns{
  .column{
    display: inline-block;
    float: left;
  }

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.columns_two{
  .column{
    width: 50%;
  }
}

.footer{
  padding: 10px;
  color: white;

  a{
    color: white;
    margin-right: 10px;
  }
}

.header{
  background: url("header.png") repeat-x top #2e2a23;

  .logo img{
    padding: 20px;
    width: 440px;
  }

  .as-seen-on{
    float: right;
    width: 400px;
    margin: 25px 30px;

    @include respond-to(medium){
      display: none;
    }

    @include respond-to(wide){
      width: auto;
    }
  }
}

.content{
  background: #e2ebf0;
  padding: 20px;

  .white_box{
    background: white;
    @include border-radius(10px);
    @include box-shadow(0 0 10px #bbb);
    padding: 20px;
  }

}

label{
  text-transform: capitalize;

  .explanation{
    color: #3baf18;
    margin-left: 5px;
    font-size: 12px;
  }
}

.admin{
  table{
    tr{
      th{
        text-align: left;
      }
    }
  }
}