$break-small: 320px;
$break-medium: 980px;
$break-large: 1200px;
$break-short: 480px;
$break-tall: 673px;
$break-tallest: 805px;


@mixin respond-to($media) {
  @if $media == handheld {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-medium - 1) { @content; }
  }
  // @else if $media == wide {
  //   @media only screen and (min-width: $break-medium) and (max-width: $break-large - 1) { @content; }
  // }
  @else if $media == wide {
    @media only screen and (min-width: $break-large) { @content; }
  }
  @else if $media == shortest {
    @media only screen and (max-height: $break-short - 1) { @content; }
  }
  @else if $media == short {
    @media only screen and (min-height: $break-short + 1) and (max-height: $break-tall - 1) { @content; }
  }
  @else if $media == tall {
    @media only screen and (min-height: $break-tall + 1) and (max-height: $break-tallest - 1) { @content; }
  }
  @else if $media == tallest {
    @media only screen and (min-height: $break-tallest) { @content; }
  }
}

body{
  background: url("background3.jpg") #1a5310 no-repeat top center fixed;
  font-family: "myriad-pro";

  @include respond-to(handheld){
    padding-top: 0;
  }

  @include respond-to(medium){
    padding-top: 0;
  }

}

.header_box{

  @include respond-to(medium){
    .field input{ width: 100px; }
  }

  @include respond-to(handheld){
    .home{ display: none; }
  }

  .navbar.navbar-inverse{
    .navbar-inner{
      background: transparent;
      color: black;
      border: 0;

      a{
        margin-right: 10px;
        margin-left: 10px;
        padding: 10px 0;
        display: inline-block;
        color: black;
        text-shadow: 0px 0px 5px rgba(255, 255, 255, 1);

        &:hover{
          background: transparent;
          text-decoration: underline;
        }
      }

      ul.dropdown-menu{
        a{
          color: white;
          text-shadow: 0 0 0;
        }
      }
    }
  }
}

body.home{
  background: url("background.jpg") repeat top center;

  .navbar.navbar-inverse{
    .navbar-inner{
      background: black;

      a{
        color: white;
        text-shadow: 0 0 0;
      }
    }
  }

  .search_box{
    background: url("billboard.jpg") no-repeat bottom right;
    height: 550px;

    @include respond-to(medium){
      height: 475px;
    }

    .logo img{
      width: 500px;
      margin: 60px auto 60px 40px;

      @include respond-to(medium){
        width: 400px;
        margin: 40px auto 40px 20px;
      }

      @include respond-to(xwide){
        width: auto;
        margin: 60px auto 60px 40px;
      }
    }

    .search_form{
      margin-left: 60px;
      color: white;

      a{
        color: white;
        text-decoration: underline;
      }

      .field{
        margin-bottom: 10px;

        label{
          font-size: 18px;
          margin-bottom: 7px;
          width: 400px;

          @include respond-to(medium){
            font-size: 16px;
            width: 300px;
          }
        }

        input{
          font-size: 18px;
          padding: 7px;
          width: 400px;

          @include respond-to(medium){
            width: 300px;
            font-size: 14px;
            padding: 5px;
          }

          &.location{
            width: auto;
          }
        }
      }

      span.tour_link{
        margin-left: 5px;

        a{
          margin-left: 5px;

          @include respond-to(medium){
            background: rgba(0,0,0,0.5);
            padding: 5px 10px;
            @include border-radius(5px);
          }
        }
      }
    }
  }

  .content{
    background: #e2ebf0;
    padding: 40px 60px;

    hr.divider{
      height: 1px;
      border-bottom: 1px #ccc solid;
    }

    h2{
      text-align: center;
      padding: 0;
      margin: 0;
      margin-bottom: 20px;

      @include respond-to(medium){
        font-size: 28px;
      }
    }

    .columns{
      width: 100%;
      margin: auto;

      @include respond-to(wide){
        width: 80%;
      }

      .column{
        background: white;
        margin: 0 1% 20px;
        width: 44%;
        padding: 20px 2%;
        min-height: 300px;
        @include border-radius(5px);

        @include respond-to(medium){
          width: 94%;
        }

        h3{
          font-size: 20px;
          line-height: 1;
          margin-left: 10px;
        }

        .difference{
          margin-bottom: 20px;
          clear: both;

          h4{
            font-size: 18px;
            font-weight: normal;
            padding-top: 10px;
            margin-bottom: 0
          }

          p{

            @include respond-to(medium){
              width: 80%;
            }

            @include respond-to(wide){
              font-size: 14px;
            }
          }

          .action{
            margin-left: 90px;
          }
        }
      }
    }



    .articles{
      .article_box{
        width: 50%;

        .article{
          h3{
            font-size: 18px;
            line-height: 1;
          }
          p{
            font-size: 16px;
          }
        }
        .left{ padding-right: 20px; }
        .article.right{ padding-left: 20px; }
      }
    }
  }
}

.columns{
  .column{
    display: inline-block;
    float: left;
  }

  &:before, &:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both;
  }
}

.columns_two{
  .column{
    width: 50%;
  }
}

.footer{
  padding: 10px;
  color: white;

  a{
    color: white;
    margin-right: 10px;
  }
}

.header{
  background: url("header.png") repeat-x top #2e2a23;
  @include border-radius(10px 10px 0 0);

  .logo img{
    padding: 30px 20px;
    width: 440px;
  }

  .as-seen-on{
    float: right;
    width: 400px;
    margin: 35px 30px;

    @include respond-to(medium){
      display: none;
    }

    @include respond-to(wide){
      width: auto;
    }
  }
}

.content{
  background: #fff;
  padding: 20px;
  @include border-radius(0 0 10px 10px);

  .white_box{
    background: white;
    @include border-radius(10px);
    border: 3px solid #eee;
    padding: 20px;
  }

}

label{
  text-transform: capitalize;

  .explanation{
    color: #3baf18;
    margin-left: 5px;
    font-size: 12px;
  }
}

.alert{
  margin-bottom: 0;
  @include border-radius(0);
}

img.align-left{
  float: left;
  margin: 0 10px 10px 0;
}

.admin{
  table{
    tr{
      th{
        text-align: left;
      }
    }
  }
}