.categories_index_new
  .row
    .span6.offset2
      =form_tag search_categories_path, method: :get, class: "form-search", remote: true do
        .input-append
          =text_field_tag :search, params[:search], style: "height:25px", class: "search-query span6"
          %button.btn.btn-large{type: "submit"}
            %i.icon-search
      .pull-right{style: "margin-right:-60px"}= link_to "Get Hired", new_resume_path, class: "btn btn-large btn-success"
  %hr/
  .row
    .span8.offset2
      JOBS AVAILABLE COPY
  .row
    .span2
      %ul.nav.nav-list
        %li.nav-header Categories
        -if user_signed_in? && current_user.resume.present?
          %li{style:"margin-left:10px"}
            = link_to "Recommended", search_categories_path(categories: current_user.resume.recommended), remote: true
        -@category_list.each do |category|
          %li{style:"margin-left:10px"}
            = link_to category.name, search_categories_path(categories: category.id), remote: true
    .span8
      %ul#jobs.unstyled
        =render partial: "categories/job", collection: @jobs
