- cache activity do
  - if activity.message.include? "destroyed"
    Project
  - else
    = link_to activity.trackable_type, activity.trackable
  = "#{raw(activity.message)}"
  = time_ago_in_words activity.created_at