.conversations_index
  .white_box
    - if @activities
      - @activities.each do |activity|
        .row
          .span11.offset1
            = "#{raw(activity.message)} #{time_ago_in_words(activity.created_at)} ago..."
            = link_to("View job details", activity.job)
