.conversations_index.container
  - unless @activities.empty?
    - @activities.each do |activity|
      .row
        .col-md-12
          = render_activity activity
  - else
    .row
      .col-md-12
        %h2 No Current Activities
