.container
  .row
    .span10
      %h1 Editing Advertisers
      = simple_form_for(@advertisement, url: advertisers_advertisement_path(@advertisement)) do |f|
        = f.error_notification
        = render 'form', f: f
        .form-actions
          = f.button :submit
