.adSection
  = link_to click_through_advertisers_advertisement_path @advertisement, { class: "advert"} do
    %h1
      = @advertisement.title
    = image_tag @advertisement.image.url(:sidebar)
    %p
      = @advertisement.content