= link_to click_through_advertisers_advertisement_path @advertisement, {style: "text-decoration:none;"} do
  = image_tag @advertisement.image.url(:thumb)
  = @advertisement.title
  = @advertisement.content