%li
  .row
    .span1
      =render_rating_display resume.rating
    .span3{style:"text-decoration:none"}
      =link_to resume_path(resume) do
        %p.lead= resume.user.name.titleize if resume.user
      %span= resume.user.role.titleize
    .span3
      %ul.unstyled
        %li
          %strong Skills:
          - if resume.skills.any?
            =resume.skills.map(&:name)*", "
          - else
            None
        %li
          %strong Highest Education Level:
          -if resume.schools.any?
            =resume.highest_merit_earned
          - else
            None
        -unless ['freelancer', 'business'].include?(resume.resume_type)
          %li
            %strong Status
            = resume.status.present? ? resume.status : "Unemployed"
  %hr/