.resumes_new
	.white_box
		.alert.alert-info.alert-block
			%button.close{"data-dismiss" => "alert", :type => "button"} &times;
			You can get started finding jobs as soon as you provide some information about yourself. Please take this time to build your resume. After building your resume, applying for jobs on Workcheetah is as easy as clicking a button! You can also add a video. Use it to show why you're right for the job.
		%h1 Post Your Resume
		= render "form"