= simple_form_for :search, url: search_resumes_path, method: :get, html: {class: "form-search"} do |f|
  = f.input :skill_ids, label: false, collection: SkillGroup.includes(:skills).all, as: :grouped_select, group_method: :skills, group_label_method: :name, label_method: :name, input_html: { multiple: true, class: ".chzn-select search-query" }
  = f.submit "Search", name: nil

= @resumes.inspect
